<nav class="navbar navbar-expand-lg bg-dark navbar-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="{{ url_for('index') }}"><img src="{{ url_for('static', filename='assets/postIt white.png')}}" class="nav_logo" alt=""></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{{url_for('index')}}">Feed</a>
          </li>
        {% if current_user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{{url_for('add_post')}}">Create Post</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{{url_for('profile', id=current_user.id) }}">Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{{url_for('logout')}}">LogOut</a>
        </li>
          
          
        {% else %}
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{{url_for('signup')}}">SignUp</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{{url_for('login')}}">LogIn</a>
        </li>
        {% endif %}
        </ul>
        <form class="d-flex" role="search" method="POST" action="{{ url_for('get_search')}}">
          {{ form.hidden_tag() }}
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="searched">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>