{% extends 'base.html' %}

{% block content %}
    <br>
    <div class="container">
        <div class="row">
            <div class="card">
                <center>
                    <h2 class="mt-3">Edit a Post</h2>
                
                <br>

                <form action="" method="POST">
                    {{form.hidden_tag() }}

                    {{ form.title.label(class='form-label') }}
                    {{ form.title(class='form-control', style='width: 75%;') }}
                    <br>

                    {{ form.img_url.label(class='form-label') }}
                    {{ form.img_url(class='form-control', style='width: 75%;') }}
                    <br>

                    {{ form.content.label(class='form-label') }}
                    {{ form.content(class='form-control', rows='8') }}
                    <br>

                    <button class="image-button">
                        <img  src="{{ url_for('static', filename='/assets/postIt white.png') }}" alt="">
                    </button>

                </form>
                {{ ckeditor.load() }}
                {{ ckeditor.config(name='content')}}
                <br>
                </center>
            </div>
        </div>
    </div>
{% endblock %}